<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="Connection" value="Data Source=10.0.68.76;Initial Catalog=COALBPS_09032022;uid=sa;password=admin@lqs@123;pooling=false" />
    <!--<add key="Connection" value="Data Source=172.16.1.142;Initial Catalog=Lotconfrimation;uid=sa;password=junctionm32!;pooling=false"/>-->
    <!--<add key="Connection" value="Data Source=172.16.2.221;Initial Catalog=COALBPS;uid=sa;password=admin@lqs@123;pooling=false"/>-->
    <add key="MsgGateway" value="http://172.16.1.218:8080/mjunction/outbound/sendBulkSMS" />
    <add key="MsgGatewayUserID" value="admin" />
    <add key="MsgGatewayPassword" value="system" />
    <add key="APIContentType" value="application/x-www-form-urlencoded" />
    <add key="Method" value="POST" />
    <add key="ServerIP" value="172.16.1.215" />
    <add key="MsgGateway" value="http://172.16.1.218:8080/mjunction/outbound/sendBulkSMS" />
    <add key="MsgGatewayUserID" value="admin" />
    <add key="MsgGatewayPassword" value="system" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="" name="COALBPS_Service.ServiceCOALBPS">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="COALBPS_Service.IServiceCOALBPS" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <!--<protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />-->
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>
<!--ProjectGuid: 8B99C151-A6A6-435A-A264-332E4B572DF7-->